<%= provide(:title, 'Book a flight')%>
<%= provide(:header, render('layouts/bookings_header'))%>
<h1>Trip Itinerary</h1>
<div class='row'><%= render 'shared/itinerary', object: @flight%></div>
<hr>
<div class='row'>Passenger Info *</div></br>
    <%= form_for @booking do |f| %>
        <%= render 'shared/error_messages', object: f.object%>
        <%= f.hidden_field :flight_id, value: params[:booking][:flight_id]%>
        <%= f.fields_for :passengers do |passenger_form| %>
            <div class='row passenger-form'>
                <%= passenger_form.label :name, class: 'align-self-center' %>
                <%= passenger_form.text_field :name, placeholder: 'Passenger Name', class: 'form-control col', required: true%>
            </div>
        <% end%>
        <%= f.submit 'Confirm Booking', class: 'btn btn-primary'%>
    <% end %>
</div>