<div class='row'>
    <span class='col-lg-2 offset-lg-3'><%= @departure_time %></span>
    <span class='col-lg-2'>--></span>
    <span class='col-lg-2'><%= @arrival_time %></span>
</div>
<div class='row'>
    <span class='col-lg-2 offset-lg-3'><%= @from.code %></span>
    <span class='col-lg-2'><%= @flight.format_duration%></span>
    <span class='col-lg-2'><%= @to.code %></span>
</div>