<div class='col itinerary-info'> 
    <span><%= object.from %></span>
    <span><%= object.departure_time %></span>
</div>
<div class='col itinerary-info'>
    <span>--> </span>
    <span><%= object.format_duration%></span>
</div>
<div class='col itinerary-info'>
    <span><%= object.to %></span>
    <span><%= object.arrival_time %></span>
</div>