<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render 'layouts/rails_default'%>
  </head>
  <body>
    <%= yield(:header)%>
    <div class='center jumbotron jumbotron-fluid'>
      <div class='container container-fluid'>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
